// hideously stolen from https://codepen.io/rspilhaus/pen/LWZYOp/
// ---------------------
//! Colors
// ---------------------
$color-dark: #424b54;
$color-skin: #F0BEAF;
$color-skin-dark: #8b4513;
$color-blue: #2196F3;
$color-gold: #FDD835;
$color-magneto-prime: #EE3152;
$color-magneto-accent: #795998;
$color-magnetism: #90CAF9;
$color-hair-iceman: #B3695B;
$color-elf: #0D47A1;
$color-bamf: #CE93D8;
$color-hair-storm: #ddd;
$color-hair-cyclops: #9b651d;
$color-hair-jean: #DC5846;

// ---------------------
//! GENERAL
// ---------------------

html {
	height: 100%;
	background:#fff;
}

body {
	position: relative;
	min-height: 100%;
}


.stripe {
	width:100%;
	position: relative;
	height:392px;
	padding:96px 32px;
}

// ---------
//! Cyclops
// ---------
#cyclops {
	background: $color-blue;

	.container {
		background:#fff;
		border:2px solid darken($color-blue, 10%);
	}

	.body {
		position: absolute;
		width:100px;
		height:150px;
		background:$color-blue;
		top:130px;
		left:50%;
		transform: translateX(-50%);
		border-radius: 40px;
		z-index: 1;
		overflow: hidden;
	}

	.jacket {
		position: absolute;
		background:#ccc;
		width:20px;
		left:50%;
		height:160px;
		top:-4px;
		transform: translateX(-50%) rotate(8deg);
		z-index: 1;
	}

	.jacket:before {
		content:"";
		position: absolute;
		background:#ccc;
		width:20px;
		left:-50%;
		height:160px;
		top:0;
		transform: translateX(50%) rotate(-16deg);
		z-index: 1;
	}

	.face {
		position: absolute;
		width:80px;
		height:80px;
		background:$color-blue;
		border-radius:100px;
		top:50px;
		left:50%;
		transform: translateX(-50%);
		z-index: 3;
	}

	.skin {
		position: absolute;
		width:50px;
		height:59px;
		top:12px;
		left:50%;
		transform: translateX(-50%);
		background: $color-skin;
		border-radius: 10px;
	}

	.visor {
		position: absolute;
		height:20px;
		width:80px;
		border-radius: 4px;
		background: $color-gold;
		left:0;
		top:16px;
	}

	.visor:after {
		content:"";
		height:10px;
		width:72px;
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		background:#c62828;
		border-radius: 4px;
		animation: lasereyes 4s infinite;
	}

	.neck {
		position: absolute;
		z-index: 2;
		width:30px;
		height:50px;
		border-radius: 12px;
		left:50%;
		transform: translateX(-50%);
		top:90px;
		background:$color-blue;
	}


	.nose {
		position: absolute;
		left:50%;
		transform: translateX(-50%);
		width:8px;
		height:14px;
		background:darken($color-skin, 15%);
		top:36px;
		border-radius: 4px;
	}

	.mouth {
		position: absolute;
		background: $color-dark;
		width:30px;
		height:10px;
		border-radius: 0 0 100px 100px;
		top:56px;
		left:50%;
		transform: translateX(-50%);
	}

	.hair {
		position: absolute;
		width:70px;
		height:55px;
		background:$color-hair-cyclops;
		border-radius: 50%;
		top:36px;
		left:62px;
	}

	.pouf {
		position: absolute;
		width:30px;
		height:20px;
		border-radius: 50%;
		left:60px;
		top:46px;
		background:$color-hair-cyclops;
		transform: rotate(-53deg);
		z-index: 10;
	}

	.pomp {
		position: absolute;
		width:51px;
		height:23px;
		border-radius: 100% 0 100% 100%;
		left:80px;
		top:44px;
		background:$color-hair-cyclops;
		z-index: 10;
	}

	.pomp:after {
		content:"";
		position: absolute;
		width:47px;
		height:20px;
		border-radius: 100% 0 100% 100%;
		left:-4px;
		top:-6px;
		background:$color-hair-cyclops;
		z-index: 12;
		transform: rotate(-15deg);
	}

	.strap {
		position: absolute;
		top:-10px;
		height:200px;
		background: $color-gold;
		width:20px;
		right:14px;
	}

	.cross-strap {
		position: absolute;
		top:10px;
		height:20px;
		background: $color-gold;
		width:90px;
		left:-6px;
		transform: rotate(15deg);
	}

	.badge {
		position: absolute;
		width:30px;
		height:30px;
		top:12px;
		right:10px;
		background:#2196F3;
		border-radius: 100%;
		border:4px solid $color-gold;
	}

	.badge:before,
	.badge:after {
		content:"";
		position: absolute;
		width:30px;
		height:4px;
		top:50%;
		left:50%;
		background:$color-gold;
	}
	.badge:before {
		transform: translate(-50%, -50%) rotate(45deg);
	}
	.badge:after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	@keyframes lasereyes {
		0% {
			background: #c62828;
		}
		25% {
			background: #c62828;
		}
		30% {
			background: #f44336;
		}
		35% {
			background: #c62828;
		}
		40% {
			background: #f44336;
		}
		45% {
			background: #c62828;
		}
		50% {
			background: #f44336;
		}
		55% {
			background: #c62828;
		}
		60% {
			background: #f44336;
		}
		65% {
			background: #c62828;
		}
		70% {
			background: #f44336;
		}
		75% {
			background: #c62828;
		}
		100% {
			background: #c62828;
		}
	}

}

// ---------
//! Professor X
// ---------
#professor {
	background:#E8E8E8;

	.container {
		background:#fff;
		border:2px solid darken(#e8e8e8, 10%);
	}

	.body {
		position: absolute;
		width:100px;
		height:150px;
		background:$color-dark;
		top:130px;
		left:50%;
		transform: translateX(-50%);
		border-radius: 40px;
		z-index: 1;
		overflow: hidden;
	}

	.jacket {
		position: absolute;
		background:#ccc;
		width:20px;
		left:50%;
		height:160px;
		top:-4px;
		transform: translateX(-50%) rotate(8deg);
		z-index: 1;
	}

	.jacket:before {
		content:"";
		position: absolute;
		background:#ccc;
		width:20px;
		left:-50%;
		height:160px;
		top:0;
		transform: translateX(50%) rotate(-16deg);
		z-index: 1;
	}

	.face {
		position: absolute;
		width:80px;
		height:80px;
		background:$color-skin;
		border-radius:100px;
		top:50px;
		left:50%;
		transform: translateX(-50%);
		z-index: 3;
	}

	.neck {
		position: absolute;
		z-index: 2;
		width:30px;
		height:50px;
		border-radius: 12px;
		left:50%;
		transform: translateX(-50%);
		top:90px;
		background:$color-skin;
	}

	.eyes {
		position: absolute;
		top:34px;
		width:10px;
		height:10px;
		background: $color-dark;
		border-radius: 50%;
		left:25%;
		transform: translateX(-50%);
	}

	.eyes:after {
		content:"";
		position: absolute;
		width:10px;
		height:10px;
		background: $color-dark;
		top:0;
		border-radius: 50%;
		right:-40px;
	}

	.nose {
		position: absolute;
		left:50%;
		transform: translateX(-50%);
		width:8px;
		height:14px;
		background:darken($color-skin, 15%);
		top:36px;
		border-radius: 4px;
	}

	.mouth {
		position: absolute;
		background: $color-dark;
		width:30px;
		height:4px;
		border-radius: 0 0 100px 100px;
		top:60px;
		left:50%;
		transform: translateX(-50%);
	}

	.ear {
		position: absolute;
		background:$color-skin;
		width:26px;
		height:26px;
		border-radius: 100%;
		left:50px;
		top:76px;
	}

	.ear.right {
		left:120px;
	}

	.ear:before {
		content:"";
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		width:16px;
		height:16px;
		background: darken($color-skin, 10%);
		border-radius: 100%;
	}

	.badge {
		position: absolute;
		width:20px;
		height:20px;
		top:20px;
		right:10px;
		background:#2196F3;
		border-radius: 100%;
		border:2px solid #FDD835;
	}

	.badge:before,
	.badge:after {
		content:"";
		position: absolute;
		width:20px;
		height:2px;
		top:50%;
		left:50%;
		background:#FDD835;
	}
	.badge:before {
		transform: translate(-50%, -50%) rotate(45deg);
	}
	.badge:after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	.telepathy {
		position: absolute;
		width:260px;
		height:260px;
		border: solid 2px #9acaf9;
		left:50%;
		top:50%;
		transform: translate(-50%,-50%);
		opacity: 0;
		border-radius: 50%;
	}

	.telepathy.one {
		animation: telepath 4s 1s infinite;
	}

	.telepathy.two {
		animation: telepath 4s 1.5s infinite;
	}

	.telepathy.three {
		animation: telepath 4s 2s infinite;
	}

	@keyframes telepath {
		0% {
			transform: translate(-50%, -50%) scale(0.0);
			opacity: 0;
		}
		100% {
			transform: translate(-50%, -50%) scale(1.0);
			opacity: 1;
		}
	}


}
$color-skin-dark: #8b4513;
$color-blue: #2196F3;
$color-gold: #FDD835;
$color-magneto-prime: #EE3152;
$color-magneto-accent: #795998;
$color-magnetism: #90CAF9;
$color-hair-iceman: #B3695B;
$color-elf: #0D47A1;
$color-bamf: #CE93D8;
$color-hair-storm: #ddd;
$color-hair-cyclops: #9b651d;
$color-hair-jean: #DC5846;

// ---------------------
//! GENERAL
// ---------------------

html {
	height: 100%;
	background:#fff;
}

body {
	position: relative;
	min-height: 100%;
}


.stripe {
	width:100%;
	position: relative;
	height:392px;
	padding:96px 32px;
}

.me-container {
	width:200px;
	height:200px;
	border-radius: 50%;
	position: relative;
	margin:0 auto;
	overflow: hidden;
	z-index: 10;
}

// ---------
//! Professor X
// ---------
#professor {
	background:#E8E8E8;

	.container {
		background:#fff;
		border:2px solid darken(#e8e8e8, 10%);
	}

	.body {
		position: absolute;
		width:100px;
		height:150px;
		background:$color-dark;
		top:130px;
		left:50%;
		transform: translateX(-50%);
		border-radius: 40px;
		z-index: 1;
		overflow: hidden;
	}

	.jacket {
		position: absolute;
		background:#ccc;
		width:20px;
		left:50%;
		height:160px;
		top:-4px;
		transform: translateX(-50%) rotate(8deg);
		z-index: 1;
	}

	.jacket:before {
		content:"";
		position: absolute;
		background:#ccc;
		width:20px;
		left:-50%;
		height:160px;
		top:0;
		transform: translateX(50%) rotate(-16deg);
		z-index: 1;
	}

	.face {
		position: absolute;
		width:80px;
		height:80px;
		background:$color-skin;
		border-radius:100px;
		top:50px;
		left:50%;
		transform: translateX(-50%);
		z-index: 3;
	}

	.neck {
		position: absolute;
		z-index: 2;
		width:30px;
		height:50px;
		border-radius: 12px;
		left:50%;
		transform: translateX(-50%);
		top:90px;
		background:$color-skin;
	}

	.eyes {
		position: absolute;
		top:34px;
		width:10px;
		height:10px;
		background: $color-dark;
		border-radius: 50%;
		left:25%;
		transform: translateX(-50%);
	}

	.eyes:after {
		content:"";
		position: absolute;
		width:10px;
		height:10px;
		background: $color-dark;
		top:0;
		border-radius: 50%;
		right:-40px;
	}

	.nose {
		position: absolute;
		left:50%;
		transform: translateX(-50%);
		width:8px;
		height:14px;
		background:darken($color-skin, 15%);
		top:36px;
		border-radius: 4px;
	}

	.mouth {
		position: absolute;
		background: $color-dark;
		width:30px;
		height:4px;
		border-radius: 0 0 100px 100px;
		top:60px;
		left:50%;
		transform: translateX(-50%);
	}

	.ear {
		position: absolute;
		background:$color-skin;
		width:26px;
		height:26px;
		border-radius: 100%;
		left:50px;
		top:76px;
	}

	.ear.right {
		left:120px;
	}

	.ear:before {
		content:"";
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		width:16px;
		height:16px;
		background: darken($color-skin, 10%);
		border-radius: 100%;
	}

	.badge {
		position: absolute;
		width:20px;
		height:20px;
		top:20px;
		right:10px;
		background:#2196F3;
		border-radius: 100%;
		border:2px solid #FDD835;
	}

	.badge:before,
	.badge:after {
		content:"";
		position: absolute;
		width:20px;
		height:2px;
		top:50%;
		left:50%;
		background:#FDD835;
	}
	.badge:before {
		transform: translate(-50%, -50%) rotate(45deg);
	}
	.badge:after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	.telepathy {
		position: absolute;
		width:260px;
		height:260px;
		border: solid 2px #9acaf9;
		left:50%;
		top:50%;
		transform: translate(-50%,-50%);
		opacity: 0;
		border-radius: 50%;
	}

	.telepathy.one {
		animation: telepath 4s 1s infinite;
	}

	.telepathy.two {
		animation: telepath 4s 1.5s infinite;
	}

	.telepathy.three {
		animation: telepath 4s 2s infinite;
	}

	@keyframes telepath {
		0% {
			transform: translate(-50%, -50%) scale(0.0);
			opacity: 0;
		}
		100% {
			transform: translate(-50%, -50%) scale(1.0);
			opacity: 1;
		}
  }

  .helmet {
		position: absolute;
		width:100px;
		height:100px;
		top:40px;
		left:50%;
		transform: translateX(-50%);
		border-radius: 120px;
		background-clip: padding-box;
		z-index: -1;
		border-top:10px solid rgba($color-magnetism, 0);
		border-left:10px solid rgba($color-magnetism, 0);
		border-right:10px solid rgba($color-magnetism, 0);
		animation-name: magnet;
		animation-duration: 10s;
		animation-timing-function: ease-in-out;
		animation-delay: 0s;
		animation-direction: alternate;
		animation-iteration-count: infinite;
	}

  /* cape / glow animations */
  .cape {
    position: absolute;
    width: 140px;
    height:270px;
    top:112px;
    left:50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-clip: padding-box;
    border-left:10px solid rgba($color-magnetism, 0);
    border-right:10px solid rgba($color-magnetism, 0);
    border-top:10px solid rgba($color-magnetism, 0);
    animation-name: magnet;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  @keyframes magnet {
		0% {
			border-top-color: rgba($color-magnetism, 0);
			border-left-color: rgba($color-magnetism, 0);
			border-right-color: rgba($color-magnetism, 0);
		}
		10% {
			border-top-color: rgba($color-magnetism, .5);
			border-left-color: rgba($color-magnetism, .5);
			border-right-color: rgba($color-magnetism, .5);
		}
		20% {
			border-top-color: rgba($color-magnetism, 0);
			border-left-color: rgba($color-magnetism, 0);
			border-right-color: rgba($color-magnetism, 0);
		}
		40% {
			border-top-color: rgba($color-magnetism, .75);
			border-left-color: rgba($color-magnetism, .75);
			border-right-color: rgba($color-magnetism, .75);
		}
		60% {
			border-top-color: rgba($color-magnetism, 0);
			border-left-color: rgba($color-magnetism, 0);
			border-right-color: rgba($color-magnetism, 0);
		}
		70% {
			border-top-color: rgba($color-magnetism, .5);
			border-left-color: rgba($color-magnetism, .5);
			border-right-color: rgba($color-magnetism, .5);
		}
		80% {
			border-top-color: rgba($color-magnetism, 0);
			border-left-color: rgba($color-magnetism, 0);
			border-right-color: rgba($color-magnetism, 0);
		}
		100% {
			border-top-color: rgba($color-magnetism, 1);
			border-left-color: rgba($color-magnetism, 1);
			border-right-color: rgba($color-magnetism, 1);
		}

	}

}

