---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Main from "@layouts/Main.astro";
import Card from "@components/Card";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts, "ar");
---

<Layout title="Posts">
  <Header activeNav="posts" />
  <Main pageTitle="المشاركات" pageDesc="جميع المقالات التي كتبتها.">
    <ul>
      {
        sortedPosts.map(({ data }) => (
          <Card href={`/ar/posts/${slugify(data)}`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>
  <Footer />
</Layout>
