
/* responsive youtube videos */
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/* border radius for video tags to match images */
video {
  border-radius: 5px;
}

/* z index for the sidebar to stand above the side comments*/
.sidebar {
  z-index: 10;
}


/* styles for the icons */
.sidebar i {
  margin-right: 10px;
  text-decoration: none !important;
}

.sidebar i:hover {
  color: #525252;
  text-decoration: none !important;
}

/* styles for sharing buttons */
.share-page {
    text-align: center;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 1.5rem 0;
    color: #222222 !important;
}

.button-twitter:hover{ color: #00aced;}
.button-fb:hover{ color: #3b5998;}
.button-google:hover { color: #D64937}

/* disabling the additional sharing buttons */
.button-pinterest{
}
.button-linkedin{
}
.button-tumblr{
}
.button-reddit{
}

#ada-logo-small {
  text-align: center;
  font-family: 'Abril Fatface';
  color: #999;
}

.post-title {
  font-family: 'Abril Fatface', Georgia;
  font-size: 2em;
}

.subtitle {
  font-family: 'EB Garamond', serif;
  font-style: italic;
  font-size: 3em;
}


.center {
  text-align:center;
}

img.center {
  display: block;
  margin: 0 auto;
}

/* styles for search bar */
input#search {
  border-bottom : 2px solid #7a7a7a;
  padding-bottom: 2px;
}


/* styles for headshot to fit on page on large devices */


