<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.baseurl }}public/favicons/favicon.ico">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}public/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}public/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}public/favicons/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}public/favicons/manifest.json">
  <link rel="mask-icon" href="{{ site.baseurl }}public/favicons/safari-pinned-tab.svg" color="#202020">
  <meta name="theme-color" content="#202020">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- font awesome -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/bower_components/font-awesome/css/font-awesome.min.css">

  <!-- jquery -->
  <script type="text/javascript" src="{{ site.baseurl }}public/bower_components/jquery/dist/jquery.min.js"></script>

  <!-- google fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface|ubuntu:400|Open+Sans:400,300,700">

  <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'> -->

  <!-- mathjax -->
  <script defer="defer" type="text/javascript" src="{{ site.baseurl }}public/bower_components/MathJax/MathJax.js?config=TeX-AMS_CHTML"></script>

  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  });
  </script>

  <!-- modernizr -->
  <script defer="defer" type="text/javascript" src="{{ site.baseurl }}public/js/modernizr-build.min.js"></script>

  <!-- side comments -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/bower_components/side-comments/release/themes/default-theme.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/bower_components/side-comments/release/side-comments.min.css">
  <script type="text/javascript" src="{{ site.baseurl }}public/bower_components/side-comments/release/side-comments.min.js"></script>

  <!-- bitcoin content -->
  <script defer="defer" type="text/javascript" src="{{ site.baseurl }}public/js/btc_modal.js"></script>
  <script defer="defer" type="text/javascript" src="{{ site.baseurl }}public/js/typed.custom.min.js"></script>

  <!-- fancy email subscription form -->
  <script defer="defer" type="text/javascript" src="{{ site.baseurl }}public/js/email-form.js"></script>


  <!-- CSS -->
  {% css poole %}
  {% css syntax %}
  {% css hyde %}

  <!-- Additional Styles -->
  {% css blog-styles %}
  {% css testimonial %}
  {% css portrait %}
  {% css img_grid %}
  {% css btc %}
  {% css email-form %}

  <!-- facebook card information -->
  <meta property="og:url"                content="https://davidawad.com" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="Meet David Awad, Engineer from New Jersey" />
  <meta property="og:description"        content="David Awad is a software engineer and entrepeneur based out of central New Jersey. He's currently CTO of armnewbrunswick and CEO of autoai, organizations dedicated to making transportation and hygiene available to everyone" />
  <meta property="og:image"              content="http://www.davidawad.com/public/img/sig.png" />


  <!-- twitter card information -->
  <meta name="twitter:card"        content="summary" />
  <meta name="twitter:site"        content="@{{ site.twitter.username }}" />
  <meta name="twitter:title"       content="Meet David Awad, Engineer from New Jersey" />
  <meta name="twitter:description" content="David Awad is a software engineer and entrepeneur based out of central New Jersey. He's currently CTO of armnewbrunswick and CEO of autoai, organizations dedicated to making transportation and hygiene available to everyone"/>
  <meta name="twitter:image"       content="http://www.davidawad.com/public/img/sig.png" />
  <meta name="twitter:image-alt"   content="David Awad's signature, and logo. Proof of his transparency and commitment to equality." />

  <!-- search engine optimization  -->
  {% seo %}
</head>
