
<!-- <p> subscribe to get updates on new posts ~ </p> -->

<div class="email-form">

  {% comment %}
  <!-- control buttons for debugging -->
  <ul class="cd-filter">
    <li>
      <input type="radio" id="cd-success" name="cd-message" checked>
      <label for="cd-success">Success</label>
    </li>

    <li>
      <input type="radio" id="cd-error" name="cd-message">
      <label for="cd-error">Error</label>
    </li>

    <li>
      <input type="radio" id="cd-notification" name="cd-message">
      <label for="cd-notification">Notification</label>
    </li>
  </ul>
  {% endcomment %}

	<div class="cd-form-wrapper cd-container">
		<form class="cd-form">
			<label class="cd-label" for="cd-email">Subscribe to get the newsletter.</label>
			<input type="email" id="cd-email" class="cd-email" name="cd-email" placeholder="Enter your email address">
			<input type="submit" class="cd-submit" value="Submit">
			<div class="cd-loading"></div>
		</form>

		<div data-type="message" class="cd-response cd-response-error">Oops! Something broke. My bad.</div>
		<div data-type="message" class="cd-response-success">
      <p>Thanks!</p>
    </div>
		<div data-type="message" class="cd-response cd-response-notification">I promise it's worth it.</div>
	</div>
</div>

