<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="{{ site.url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="/public/davidawad.pdf">Resume</a>

      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/public/davidawad.pdf">Contacts</a> -->
      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a> -->
      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a> -->
      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>

    <a class="sidebar-nav-item" href="/{{ site.time | date: '%Y' }}">Archive</a>


    <p>&copy; david awad {{ site.time | date: '%Y' }}</p>

    <p class="sidebar-nav-item">
      <a href="mailto:{{site.links.email}}"><i class="fas fa-envelope fa-2x" aria-hidden="true"></i></a>
      <a href="{{ site.links.twitter}}"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a>
      <a href="{{ site.links.github}}"><i class="fab fa-github fa-2x" aria-hidden="true"></i></a>
      <a href="/public/davidawad.asc"><i class="fas fa-key fa-2x" aria-hidden="true"></i></a>



      <!-- <a href="{{ site.links.fb}}"><i class="fa fa-facebook"          aria-hidden="true"></i></a> -->
      <!-- <a href="{{ site.links.instagram}}"><i class="fa fa-instagram"  aria-hidden="true"></i></a> -->
      <!-- <a href="{{ site.links.tumblr}}"><i class="fa fa-tumblr"   aria-hidden="true"></i></a> -->
      <!-- <a href="{{ site.links.spotify}}"><i class="fa fa-spotify"      aria-hidden="true"></i></a> -->
      <!-- <a href="{{ site.links.linkedin}}"><i class="fa fa-linkedin"    aria-hidden="true"></i></a> -->
      <!-- <a href="{{ site.links.angellist}}"><i class="fa fa-angellist"  aria-hidden="true"></i></a> -->
      <!-- <a href="{{ site.links.so }}"><i class="fa fa-stack-overflow"   aria-hidden="true"></i></a> -->
    </p>

    {% comment %} <p>gpg key:</p> {% endcomment %}
    {% comment %} <a href="public/davidawad.asc"> {% endcomment %}
      {% comment %} <code class="highlighter-rouge"> {% endcomment %}
        {% comment %} 07C6 73FB F30E 01C0 C342  7AB8 DBB6 7C24 6AD3 56C4 {% endcomment %}
      {% comment %} </code> {% endcomment %}
    {% comment %} </a> {% endcomment %}

  </div>
</div>
