---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";
import "@styles/footer.css";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;

const translations = {
  en: {
    copyright: `Copyright © ${currentYear}`,
    allRightsReserved: "All rights reserved.",
  },
  ar: {
    copyright: `حقوق النشر © ${currentYear}`,
    allRightsReserved: "كل الحقوق محفوظة.",
  },
};

const lang = Astro.url.pathname.startsWith("/ar") ? "ar" : "en";
const t = translations[lang];
---

<footer class={`${noMarginTop ? "" : "mt-auto"}`}>
  <Hr noPadding />
  <div class="footer-wrapper">
    <Socials centered />
    <div class="copyright-wrapper">
      <span>{t.copyright}</span>
      <span class="separator">&nbsp;|&nbsp;</span>
      <span>{t.allRightsReserved}</span>
    </div>
  </div>
</footer>
