---
import Socials from "./Socials.astro";
import { translateFor } from "@/i18n/utils";

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;

const t = translateFor(Astro.currentLocale);

const rawYear = new Date().getFullYear();
const currentYear =
  Astro.currentLocale === "ar"
    ? rawYear.toLocaleString("ar-EG", { useGrouping: false })
    : String(rawYear);
---

<footer class:list={["app-layout", { "mt-auto": !noMarginTop }]}>
  <div
    class:list={[
      "py-6 sm:py-4",
      "border-t border-border",
      "flex flex-col items-center justify-between sm:flex-row-reverse",
    ]}
  >
    <Socials centered />
    <div class="my-2 flex flex-col items-center whitespace-nowrap sm:flex-row">
      <span>{t("footer.text", { year: currentYear })}</span>
    </div>
  </div>
</footer>
