---
const { pathname } = Astro.url;
const newPath = pathname.startsWith('/ar') ? pathname.replace('/ar', '') : `/ar${pathname}`;
---
<a href={newPath} class="text-2xl" title="Switch Language">
  {pathname.startsWith('/ar') ? 'EN' : 'ع'}
</a>
