---
import IconArrowLeft from "@/assets/icons/IconArrowLeft.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import LinkButton from "./LinkButton.astro";
import { translateFor } from "@/i18n/utils";

export interface Props {
  pageNum: number;
  totalPages: number;
  prevUrl: string;
  nextUrl: string;
}

const t = translateFor(Astro.currentLocale);
const { pageNum, totalPages, prevUrl, nextUrl } = Astro.props;
const hasPrev = pageNum > 1;
const hasNext = pageNum < totalPages;
---

{
  totalPages > 1 && (
    <nav
      class="mt-auto mb-8 flex items-center justify-center"
      role="navigation"
      aria-label={t("a11y.pagination")}
    >
      <LinkButton
        href={hasPrev ? prevUrl : undefined}
        class:list={["me-4 select-none", hasPrev ? "hover:text-accent" : "opacity-30 cursor-not-allowed pointer-events-none"]}
        aria-label="Goto Previous Page"
        aria-disabled={!hasPrev}
      >
        <IconArrowLeft class="inline-block size-5 rtl:rotate-180" />
        {t("pagination.prev")}
      </LinkButton>
      <span class="mx-2 select-none">{pageNum} / {totalPages}</span>
      <LinkButton
        href={hasNext ? nextUrl : undefined}
        class:list={["ms-4 select-none", hasNext ? "hover:text-accent" : "opacity-30 cursor-not-allowed pointer-events-none"]}
        aria-label="Goto Next Page"
        aria-disabled={!hasNext}
      >
        {t("pagination.next")}
        <IconArrowRight class="inline-block size-5 rtl:rotate-180" />
      </LinkButton>
    </nav>
  )
}
