{% comment %} compression layout doesn't work {% endcomment %}
{% comment %} --- {% endcomment %}
{% comment %} layout: compress {% endcomment %}
{% comment %} --- {% endcomment %}

<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>

<script>
  // side comments
  var SideComments = require('side-comments');
  const currentUser = {
    id: 1,
    avatarUrl: "https://aroc.github.io/side-comments-demo/public/images/jon_snow.png",
    name: "Jon Snow"
  }
</script>

{% include sidebar.html %}

<div class="content container">

  {% include search.html %}

  <!-- page content -->
  {{ content }}
</div>

<script>

  // set up tipr for tooltips
  $(document).ready(function() {
       $('.tip').tipr();
  });

</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-62548061-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-62548061-2');
</script>





{% comment %}
{% register_service_worker %}
{% endcomment %}


</body>
</html>
