---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="just-comments" data-allowguests="true" data-apikey="{{site.just_comments_key}}">
</div>


<div class="related">

{% comment %}
{% include share-buttons.html %}
{% endcomment %}

{% include btc.html %}

  <h2>Thanks for Reading! Here are some related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>


{% include mailing_list.html %}

{% include logo.html %}

<script>
  // Then, create a new SideComments instance, passing in the wrapper element and the optional the current user
  sideComments = new SideComments('#commentable-area', currentUser, existingComments);
</script>



