---
import Breadcrumbs from "@components/Breadcrumbs.astro";

export interface Props {
  pageTitle: string;
  pageDesc?: string;
}

const { pageTitle, pageDesc } = Astro.props;
const isRtl = Astro.url.pathname.startsWith("/ar");
---

<Breadcrumbs />
<main
  id="main-content"
  class:list={[
    "app-layout pb-12",
    { "text-right": isRtl },
  ]}
>
  <h1 class="text-2xl font-semibold sm:text-3xl">{pageTitle}</h1>
  <p class="mt-2 mb-6 italic">{pageDesc}</p>
  <slot />
</main>

<script>
  document.addEventListener("astro:page-load", () => {
    const mainContent = document.querySelector("#main-content");
    const backUrl = mainContent?.getAttribute("data-backurl");
    if (backUrl) {
      sessionStorage.setItem("backUrl", backUrl);
    }
  });
</script>
