---
import { SITE } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
const isRtl = Astro.url.pathname.startsWith("/ar");
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header />
  <Breadcrumbs />
  <main id="main-content" class:list={["app-layout pb-12", { "text-right": isRtl }]}>
    <article class="app-prose max-w-3xl">
      <h1 class="text-2xl tracking-wider sm:text-3xl">{frontmatter.title}</h1>
      <slot />
    </article>
  </main>
  <Footer />
</Layout>
